@{
    ViewBag.title = "Thêm mới tài khoản";
    int stt = 1;
    var user = (WebDuLich.DB.User)System.Web.HttpContext.Current.Session["user"];
    //var msg = ViewData["msgsuccess"] != null ? ViewData["msgsuccess"].ToString() : "";
    //var a = TempData["msg"];
    //var msg = a != null ? a.ToString() : "";


}




<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewBag.title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active">Thêm mới tài khoản</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <!-- /.card-header -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <form action="/Admin/TaiKhoan/Create" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="taikhoan">Tên tài khoản</label>
                                    <input type="text" name="UserName" class="form-control" id="taikhoan" placeholder="Nhập tên tài khoản">
                                </div>
                                <div class="form-group">
                                    <label for="HinhAnh" class="form-label">Ảnh đại diện</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="text" class="custom-file-input" name="Avatar" value="" id="HinhAnh">
                                            <label class="custom-file-label" id="txt-HinhAnh" for="HinhAnh"></label>
                                        </div>
                                        <div type="button" onclick="chooseImage()" class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mk">Mật khẩu</label>
                                    <input type="text" name="Password" class="form-control" id="mk" placeholder="Nhập mật khẩu">
                                </div>
                                <div class="form-group">
                                    <label for="fullName">Họ & Tên</label>
                                    <input type="text" name="FullName" class="form-control" id="fullName" placeholder="Nhập họ tên">
                                </div>
                                <div class="form-group">
                                    <label for="sdt" class="form-label">Số điện thoại</label>
                                    <input type="number" name="SoDienThoai" class="form-control" id="sdt" placeholder="Nhập số điện thoại">

                                </div>
                                <div class="form-group">
                                    <label for="trangthai">Trạng thái hoạt động</label>
                                    <select class="form-control" name="IsActive">
                                        <option value="1">Active</option>
                                        <option value="0">No Active</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="NgayTao">Ngày tạo</label>
                                    <input type="text" name="NgayTao" class="form-control" readonly id="NgayTao" value="@DateTime.Now">
                                </div>
                                <div class="form-group">
                                    <label for="NguoiTao">Người tạo</label>
                                    <input type="text" name="NguoiTao" class="form-control" readonly id="NguoiTao" value='@(user.UserName != null ? user.UserName : "")'>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->



@section script
{
    <script>
            var msg = '@ViewBag.success';
        if (msg.length > 0) {
            toastr.success(msg)
        }
        function chooseImage() {
            var finder = new CKFinder();
            finder.selectActionFunction = dienUrlVaoInput;
            finder.popup();
        }

        //CKEDITOR.replace("txtBaiViet")
        ViewBag.msg
        function dienUrlVaoInput(fileUrl) {
            $("input[name=Avatar]").val(fileUrl)
            $('#txt-HinhAnh').append(fileUrl);
        }

        $('.select2').select2()
        //$(function () {
        //    $('input[name="NgayTao"]').daterangepicker({
        //        singleDatePicker: true,
        //        showDropdowns: true,
        //        minYear: 1901,
        //        maxYear: parseInt(moment().format('YYYY'), 10)
        //    }, function (start, end, label) {
        //        var years = moment().diff(start, 'years');
        //    });
        //});

    </script>
}
