
@{
    ViewBag.Title = "PhanQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class=" w-100 h-100 d-flex align-items-center justify-content-center">
    <h1>Chưa được phần quyền cho chức năng này !</h1>
</div>

