@{
//var user = (Admin.DB.User)System.Web.HttpContext.Current.Session["user"];

}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="https://adminlte.io/" class="brand-link">
        <img src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                @*@if (@user == null || @user.UserName == null)
                {
                    <a href="#" class="d-block">No_Name</a>
                }
                else
                {
                    <a href="#" class="d-block">@user.UserName</a>
                }*@
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/Admin/Tour" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Quản lý Tour
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="NhaHang" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Quản lý nhà hàng
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="KhachSan" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Quản lý khách sạn
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="PhuongTien" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Quản lý phương tiện
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Quản lý giới thiệu
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Quản lý hình ảnh
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/Album" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý Album</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/HinhAnh" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý hình ảnh</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Quản lý hồ sơ công ty
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/TaiKhoan" class="nav-link ">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Quản lý tài khoản
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>

</aside>